.parallax {
    background-image: url(imagem.png);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.05);
}
