/* Posição 2 - Slides */
/* icon Next Previous */
a.slidesjs-next,
a.slidesjs-previous,
a.slidesjs-play,
a.slidesjs-stop{background-repeat: no-repeat;background-size:25px;display:none;width:50px;height:51px;overflow: hidden;text-indent:-9999px;float: left;margin:0;position: absolute;background-color:rgba(255,0,0,0.7);z-index:9999;top:50%;}
a.slidesjs-next {background-image: url(../images/next-arrow.png);margin:0;background-position:center center;right:2vmax;}
a:hover.slidesjs-next {background-image: url(../images/next-arrow-hover.png);background-color:rgba(0,0,0,0.7)}
a.slidesjs-previous {background-image: url(../images/previous-arrow.png);background-position:center center;margin:0;left:2vmax;}
a:hover.slidesjs-previous {background-image: url(../images/previous-arrow-hover.png);background-color:rgba(0,0,0,0.7)}
a.slidesjs-play {width:15px;background-position: -25px 0;display: none !important;}
a:hover.slidesjs-play {background-position: -25px -18px;}
a.slidesjs-stop {width:18px;background-position: -41px 0;display: none !important;}
a:hover.slidesjs-stop {background-position: -41px -18px;}
a.slidesjs-next,a.slidesjs-previous,a.slidesjs-play,a.slidesjs-stop{display:none;}
/* Posição 2 - Slides - Págination */
.slidesjs-pagination{display:flex;justify-content: space-between;margin: 0;list-style:none;list-style:none;position:absolute;bottom:60px; right:10%;z-index: 101;width: 110px;}
.slidesjs-pagination li a {border:2px solid #FFF;border-radius:50%;font-size: 0;width:20px;height:20px;align-items:center; display:flex;justify-content:center;}
.slidesjs-pagination li a::after {content:"";display: block;margin: 0 3px;background-color:transparent;border-radius:50%;}
.slidesjs-pagination li a:hover::after{background-color:#FFF;}
.slidesjs-pagination li a::after{display: block;width: 12px;height: 0;padding-top: 12px;overflow: hidden;}
.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover {border-color: #FFF;}
.slidesjs-pagination li .active::after {background-color: #FFF;}
.navbar {overflow: hidden}
/* Posição 2 - Imagens */
.slidesjs-container {margin: 0!important;}
.slidesjs-control .slidesjs-slide {height: 100%;}
.slidesjs-control img {object-fit: cover;object-position: top center;height: 100%;width: 100%;}