/* Videos Youtube */
.vi_video{
    position:relative!important;
    padding:12%!important;
    height:0!important;
    overflow: hidden!important;
}
.vi_video iframe{
    position: absolute!important;
    top: 0!important;
    left: 0!important;
    width: 100%!important;
    height: 100%!important;
    border-radius: 5px;
}
